  <footer class="footer pt-5 pb-3">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4">
                    <h5>Solution Experts Plast</h5>
                    <p class="text-white-50">Solutions For All Type of Construction.</p>
                    <p class="text-white-50">Manufacturing and distribution of plastic products with a focus on
                        construction materials, packaging solutions, custom molding and environmental solutions.</p>
                </div>
                <div class="col-md-2">
                    <h5>Company</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}" class="text-white-50" >About</a></li>
                        <li><a href="{% url 'quality' %}" class="text-white-50">Quality</a></li>
                        <li><a href="{% url 'career' %}" class="text-white-50">Career</a></li>
                        <li><a href="{% url 'contact' %}" class="text-white-50">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Products</h5>
                    <ul class="list-unstyled">
                        <li><a href="products.html" class="text-white-50">Construction Products</a></li>
                        <li><a href="products.html#packaging" class="text-white-50">Packaging Solutions</a></li>
                        <li><a href="products.html#custom" class="text-white-50">Custom Molding</a></li>
                        <li><a href="products.html#environment" class="text-white-50">Environmental Solutions</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>Contact</h5>
                    <p class="text-white-50 mb-2"><i class="bi bi-geo-alt me-2"></i>Plot no M-16, Industrial area, Village – Bijepur,
Tehsil – Depalpura, Indore, Madhya Pradesh – 453001</p>
                    <p class="text-white-50 mb-2"><i class="bi bi-telephone me-2"></i>+91 9111668843
                    </p>
                    <p class="text-white-50 mb-2"><i class="bi bi-envelope me-2"></i>solutionexpertsplast@gmail.com</p>
                    <!-- <a class="text-white" href="https://www.solutionexpertsplast.com"
                        target="_blank">www.solutionexpertsplast.com</a> -->
                </div>
            </div>
            <hr class="border-secondary my-4">
            <div class="d-flex justify-content-between flex-wrap text-white-50"><span>© <span class="year text-white-50"></span>
                    Solution Experts Plast. All Rights Reserved.</span><span>Do Good, Do it Best!</span></div>
        </div>
    </footer><a href="#" class="backtop"><i class="bi bi-arrow-up"></i></a>